In [1]:
import pandas as pd

### read json

In [2]:
news = pd.read_json('./News_Category_Dataset_v2.json',lines=True)
print(news[:5])

        category                                           headline  \
0          CRIME  There Were 2 Mass Shootings In Texas Last Week...
1  ENTERTAINMENT  Will Smith Joins Diplo And Nicky Jam For The 2...
2  ENTERTAINMENT    Hugh Grant Marries For The First Time At Age 57
3  ENTERTAINMENT  Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4  ENTERTAINMENT  Julianna Margulies Uses Donald Trump Poop Bags...

           authors                                               link  \
0  Melissa Jeltsen  https://www.huffingtonpost.com/entry/texas-ama...
1    Andy McDonald  https://www.huffingtonpost.com/entry/will-smit...
2       Ron Dicker  https://www.huffingtonpost.com/entry/hugh-gran...
3       Ron Dicker  https://www.huffingtonpost.com/entry/jim-carre...
4       Ron Dicker  https://www.huffingtonpost.com/entry/julianna-...

                                   short_description       date
0  She left her husband. He killed their children... 2018-05-26
1                           Of course it has a song. 2018-05-26
2  The actor and his longtime girlfriend Anna Ebe... 2018-05-26
3  The actor gives Dems an ass-kicking for not fi... 2018-05-26
4  The "Dietland" actress said using the bags is ... 2018-05-26

In [3]:
news.describe(datetime_is_numeric=True)
news.count()

category             200853
headline             200853
authors              200853
link                 200853
short_description    200853
date                 200853
dtype: int64

### Repalce duplicate category

In [4]:
cate_dic = {"HEALTHY LIVING": "WELLNESS",
"QUEER VOICES": "GROUPS VOICES",
"BUSINESS": "BUSINESS & FINANCES",
"PARENTS": "PARENTING",
"BLACK VOICES": "GROUPS VOICES",
"THE WORLDPOST": "WORLD NEWS",
"STYLE": "STYLE & BEAUTY",
"GREEN": "ENVIRONMENT",
"TASTE": "FOOD & DRINK",
"WORLDPOST": "WORLD NEWS",
"SCIENCE": "SCIENCE & TECH",
"TECH": "SCIENCE & TECH",
"MONEY": "BUSINESS & FINANCES",
"ARTS": "ARTS & CULTURE",
"COLLEGE": "EDUCATION",
"LATINO VOICES": "GROUPS VOICES",
"CULTURE & ARTS": "ARTS & CULTURE",
"FIFTY": "MISCELLANEOUS",
"GOOD NEWS": "MISCELLANEOUS"}
len(cate_dic)

19

In [5]:
category = list(set(news['category']))
print(len(category))

41

In [6]:
news['category'] = news['category'].replace(cate_dic)
print(len(list(set(news['category']))))
cates = list(set(news['category']))

26

### Fliter on content and headlines

In [83]:
categorys = news['category']
headlines = news['headline']
descriptions = news['short_description']
content = []
minh = min(headlines,key=lambda x:len(x))
maxh = max(headlines,key=lambda x:len(x))
mind = min(descriptions,key=lambda x:len(x))
maxd = max(descriptions,key=lambda x:len(x))
for c,h,d in zip(categorys,headlines,descriptions):
    content.append([c,h,d])
print('total content:',len(content))
for i in range(10):
    print('{} {} {} '.format(len(content[i][0]),len(content[i][1]),len(content[i][2])))

total content: 200853
5 64 76
13 75 24
13 47 87
13 69 86
13 71 87
13 80 125
13 66 23
13 50 46
13 64 68
13 42 52

In [84]:
print(len(minh),len(maxh))
print(len(mind),len(maxd))

0 320
0 1472

#### fliter

In [85]:
def fl(x):
    return (len(x[1].strip().split()) > 5) and (len(x[2].strip().split()) > 10)

In [86]:
f_content = list(filter(fl,content))

In [87]:
print('left:',len(f_content))

left: 128854

In [88]:
minh = min([i[1] for i in f_content],key=lambda x:len(x))
maxh = max([i[1] for i in f_content],key=lambda x:len(x))
mind = min([i[2] for i in f_content],key=lambda x:len(x))
maxd = max([i[2] for i in f_content],key=lambda x:len(x))
print(len(minh),len(maxh))
print(len(mind),len(maxd))

18 320
39 1290

In [89]:
category_dic = {}
for idx,cate in enumerate(list(set(news['category']))):
    category_dic[cate] = idx

In [90]:
category_dic

{'MEDIA': 0,
 'DIVORCE': 1,
 'WORLD NEWS': 2,
 'WELLNESS': 3,
 'HOME & LIVING': 4,
 'FOOD & DRINK': 5,
 'ARTS & CULTURE': 6,
 'WOMEN': 7,
 'PARENTING': 8,
 'POLITICS': 9,
 'SCIENCE & TECH': 10,
 'COMEDY': 11,
 'GROUPS VOICES': 12,
 'RELIGION': 13,
 'WEDDINGS': 14,
 'ENVIRONMENT': 15,
 'STYLE & BEAUTY': 16,
 'WEIRD NEWS': 17,
 'SPORTS': 18,
 'CRIME': 19,
 'IMPACT': 20,
 'BUSINESS & FINANCES': 21,
 'EDUCATION': 22,
 'TRAVEL': 23,
 'MISCELLANEOUS': 24,
 'ENTERTAINMENT': 25}

### list distribution

In [91]:
total = 0
for ca in category_dic.keys():
    print('{}:{}'.format(ca,len([i for i in f_content if i[0]==ca])))
    total += len([i for i in f_content if i[0]==ca])
print('total:',total)

MEDIA:1656
DIVORCE:2913
WORLD NEWS:5530
WELLNESS:17300
HOME & LIVING:2989
FOOD & DRINK:4303
ARTS & CULTURE:2211
WOMEN:2108
PARENTING:9179
POLITICS:21086
SCIENCE & TECH:2791
COMEDY:2165
GROUPS VOICES:7989
RELIGION:1236
WEDDINGS:3192
ENVIRONMENT:2767
STYLE & BEAUTY:8767
WEIRD NEWS:822
SPORTS:2486
CRIME:2077
IMPACT:2360
BUSINESS & FINANCES:5683
EDUCATION:1421
TRAVEL:7397
MISCELLANEOUS:1425
ENTERTAINMENT:7001
total: 128854

In [92]:
df = {'category':[i[0] for i in f_content],
     'headline':[i[1] for i in f_content],
     'description':[i[2] for i in f_content]}

In [93]:
df = pd.DataFrame(data=df)

In [94]:
df

,category,headline,description
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,She left her husband. He killed their children...
1,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Ebe...
2,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,The actor gives Dems an ass-kicking for not fi...
3,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,"The ""Dietland"" actress said using the bags is ..."
4,ENTERTAINMENT,Morgan Freeman 'Devastated' That Sexual Harass...,"""It is not right to equate horrific incidents ..."
...,...,...,...
128849,SCIENCE & TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,Verizon Wireless and AT&T are already promotin...
128850,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,"Afterward, Azarenka, more effusive with the pr..."
128851,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...","Leading up to Super Bowl XLVI, the most talked..."
128852,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,CORRECTION: An earlier version of this story i...
128853,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,The five-time all-star center tore into his te...

In [95]:
df.to_json('./cleaned_labeled_data.json')

In [96]:
weird_one = news[news['headline']=="Mystery 'Wolf-Like' Animal Reportedly Shot In Montana, Baffles Wildlife Officials"]

In [97]:
print(set([type(i) for i in df['headline']]))

{<class 'str'>}

In [98]:
a = '  rer  dde rf'
print(a.strip().split())
print(a)

['rer', 'dde', 'rf']
  rer  dde rf